<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery.js"></script>
   <script src="js/burgers.js"></script>
   <!-- CSS -->
   <link rel = "stylesheet" type = "css" href = "assets/css/burger_style.css">
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <div class = "col-md-4"></div>
        <div class = "col-md-4">
          <h1>Eat da Burger!! </h1>
          <img src = "assets/img/Spicy-Masala-Veggie-Burgers.jpg" width = "200" height = 100 alt = "Burger Image">
        </div>
        <div class = "col-md-4"></div>
      </div>

      <!-- Burger content from index.handlebars -->
      {{{body}}}
    </div>
  </body>
</html>